<h2>Fala Dev {{name}},</h2>
<p>
  Parece que você está solicitando uma recuperação da sua senha, caso queir aproceguir 
  clique no link abaixo.
</p>
<p>
<a href="{{resetPasswordUrl}}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, favor descartar esse e-mail.
</p>
<strong>Equipe FullStack Guide</strong>